// variables.scss

:root {
    // colors
    --color-main-white: #fff;
    --color-main-black: #000;
    --color-main-pink: #ffc9e3;
    --color-background-dark: #000;
    --color-background-light: #fff;
    --color-main-blue: #5e6ad8;
    --color-light-gray: #86868b;
    --color-border: rgba(221, 223, 226, 0.3);
    --color-dark-transparent: rgba(0, 0, 0, 0.7);
  
    // transitions
    --transition-default: 300ms;
    --transition-smooth: 600ms;
  
    // radius
  
    // padding
  
    // fonts
    --font-main: "Inter", sans-serif;
  
    // opacity
    --opacity-default: 0.8;
  }
  